@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased bg-slate-50;
  background: linear-gradient(to right, rgb(1, 146, 255), rgb(0, 228, 255));

  background-repeat: no-repeat;
  min-height: 100vh;
}