@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased bg-slate-50;
  background: linear-gradient(to bottom, #6FB1FC, #4364F7);

  background-repeat: no-repeat;
  min-height: 100vh;
}